.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(189, 189, 182);
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
